* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    background-color: #ededf0;
}

p {
    color: #e5e5e8;
    font-family: 'Open Sans', sans-serif;
}

footer {
    
}